form input {
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 16px;
    margin: 2px;
    background: #4d78cd;
    font-weight: bolder;
    color: white;
    cursor: pointer;
  }
  form input[type="button"]:hover{
    background: blueviolet;
  }
  form .display{
      display: flex;
      justify-content: flex-end;
      margin: 5px 0px 15px 0px;
  }
  form .display input {
    text-align: right;
    flex:1;
    font-size: 40px;
    padding: 5px 10px;
    background-color: rgb(64, 64, 64);
  }
  form input .equal {
    width: 123px;
  }
  .equal{
    width: 120px;
    text-size-adjust: 12px;
  }